<app-header></app-header>

<div class="main-container">
  <div class="header-content">
    <div class="add-detail-text">Person Details</div>
    <a routerLink="/add" class="add-button">
      <img src="../../../assets/icons/add-24px.svg" alt="" />Add Person
    </a>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="contactList" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef class="thead-content">Name</th>
        <td mat-cell *matCellDef="let contact">{{ contact.name }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef class="thead-content">Phone</th>
        <td mat-cell *matCellDef="let contact">{{ contact.phoneNumber }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef class="thead-content">Email</th>
        <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
      </ng-container>

      <!-- Locality Column -->
      <ng-container matColumnDef="Locality">
        <th mat-header-cell *matHeaderCellDef class="thead-content">
          Locality
        </th>
        <td mat-cell *matCellDef="let contact">
          {{ contact.address.locality }}
        </td>
      </ng-container>

      <!-- state column -->
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef class="thead-content">State</th>
        <td mat-cell *matCellDef="let contact">{{ contact.address.state }}</td>
      </ng-container>

      <!-- City column -->
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef class="thead-content">City</th>
        <td mat-cell *matCellDef="let contact">{{ contact.address.city }}</td>
      </ng-container>

      <!-- Zip column -->
      <ng-container matColumnDef="Zip">
        <th mat-header-cell *matHeaderCellDef class="thead-content">Zip</th>
        <td mat-cell *matCellDef="let contact">{{ contact.address.zip }}</td>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef class="thead-content">Action</th>
        <td mat-cell *matCellDef="let contact">
          <a class="button delete">
            <img
              src="../../../assets/icons/delete-black-18dp.svg"
              (click)="deleteContact(contact.id)"
              alt="delete"
            />
          </a>
          <a class="button edit">
            <img
              src="../../../assets/icons/create-black-18dp.svg"
              (click)="updateContact(contact.id)"
              alt="edit"
            />
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
