.main-container {
  width: 100%;
  background: #f7f7f7;
  opacity: 1;
  outline-style: solid;
  padding: 0.5px;
  outline-color: #008cff;
}

.form-container {
  width: 100%;
  padding: 5px;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-buttons {
  align-items: center;
  box-sizing: border-box;
}

.buttons {
  padding-top: 10px;
}
